
@import "tailwindcss";

.header {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
.frontPageButton{
    width: 20vw;
}

.expensesList{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-auto-rows: auto;
    gap:1vw;
}

.budgetCards{
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    justify-items: center;
    gap: 1vw;
    grid-auto-rows: auto;
    overflow-x:hidden;
}


@media (max-width: 500px){
    .header{
        font-size: 7vh;
        text-align: center;
    }

    .frontPage{
        justify-content: center;
        padding: 2vh;
        gap: 5vh;
    }

    .frontPageButton{
        padding: 2vh;
        width: 20vh;
    }

    .loginForm{
        width: 30vh;
        height: auto;
    }

    .signUpForm{
        width: 30vh;
        height: auto;
    }

    h1{
        font-size: 5vh;
    }

    label{
        font-size: 2vh;
    }

    input{
        height: 5vh;
    }
    .formButton{
        padding: 1vh;
        height: auto
    }

    .SignFormButton{
        padding: 1vh;
        height: auto
    }

    .instead{
        bottom: 5vh;
    }

    .navigation{
        height: 7vh;
    }

    .createBtn{
        height: 5vh;
        width: 10vh;
        font-size: 1.3vh;
    }

    .greeting{
        font-size: 2vh;
    }

    .dropDown{
        width: 25vh;
    }

    .createModal{
        width: 40vh;
        height: 30vh;
    }

    .xBtn{
        font-size: 2vh;
    }

    .budgetInputContainer{
        width: 45vh;
        height: auto;
    }

    .titleInput{
        width: 40vh;
        height: 9vh;
        font-size: 5vh;

    }

    .budgetCards{
        grid-template-columns: 100%;
      
    }

    .budgetCard{
        width: 20vh;
        height: 30vh;
        padding: 5vh;
        
    }

    .budgetName{
        font-size: 3vh;
    }

    .spending{
        font-size: 2vh;
    }

    .budgetCardBtn{
        width: 10vh;
        height: 5vh;
        font-size: 2vh;
    }

    
}

@media (max-width: 1220px ){
    .budgetCards{
        grid-template-columns: 100%;
    }

    .budgetCard{
        width: 45vh;
        height: 50vh;
        
    }

    .budgetName{
        font-size: 5vh;
    }

    .footerText{
        font-size: 2vh;
    }

    footer{
        height: 10vh;
    }
        

    .overlay{
        height: 999vh;
    }

    .spending{
        font-size: 2vh;
    }

    .budgetCardBtn{
        width: 10vh;
        height: 5vh;
        font-size: 1vh;
    }

    .deleteBtn{
        margin-top: 10vh
    }

    .expensesCard{
        width: 40vh;
        height: auto;
        padding: 10px;
    }

    .expensesBudgetName{
        font-size: 3vh;
    }

    .expensesBtn{
        width: 15vh;
        padding: 1vh;
        font-size: 1.5vh;
    }

    .btnContainer{
        height: 9vh;
    }

    .expenseCard{
        height: 5vh;
    }

    .expensesBtns{
        height: 5vh;
        margin-bottom: 1vh;
    }

    .addExpensesCard{
        top:10%;
        height: 40%;
        width: 100%;
    }

    .expensesInput{
        height: 4vh;
    }

    .expensesLabel{
        font-size: 2vh;
    }

    .expensesList{
        grid-template-columns: 18vh 18vh 18vh 18vh 18vh 18vh 18vh 18vh 18vh 18vh 18vh;
        gap: 1vh;
    }

    .eCard{
        justify-content: center;
        align-items: center;
    }
    .expensesName{
        font-size: 1.5vh;
    }

    .scale{
        height: 1.5vh;
    }

    .expensesAmount{
        font-size: 1vh;
    }

    .date{
        font-size: 1vh;
    }

    .scaleBase{
        height: 1.5vh;
    
    }

    .expensesDeleteBtn{
        font-size: 1vh;
    }
}